<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/menu.css" />
    <!-- Google Robot Font -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap"
      rel="stylesheet"
    />
    <!-- Font Awesome -->
    <script
      src="https://kit.fontawesome.com/b6ca17b8c7.js"
      crossorigin="anonymous"
    ></script>
    <title>Menstrie Community Council Website</title>
  </head>
  <body>
    <!-- Load an icon library to show a hamburger menu (bars) on small screens -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <div class="topnav" id="myTopnav">
      <a href="/" class="active">Home</a>
      <a href="oldandnew">Old and New</a>
      <a href="events">Events</a>
      <a href="groups">Groups</a>
      <a href="official">Official</a>
      <a href="menstriematters">Menstrie<span class="trans">t</span>matters</a>
      <a href="localcontacts"
        >Important<span class="trans">t</span>local<span class="trans">t</span
        >contacts</a
      >
      <!-- <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
      </a> -->
    </div>
    <div class="menu-wrap">
      <input type="checkbox" class="toggler" />
      <div class="hamburger"><div></div></div>
      <div class="menu">
        <div>
          <div>
            <ul>
              <li><a href="/">Home</a></li>
              <li><a href="oldandnew">Old and New</a></li>
              <li><a href="events">Events</a></li>
              <li><a href="groups">Groups</a></li>
              <li><a href="official">Official</a></li>
              <li><a href="menstriematters">Menstrie Matters</a></li>
              <li><a href="localcontacts">Important Local Contacts</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
