<div><%- include('./partials/header.ejs') %></div>

<div class="container-events">
  <div class="row">
    <div class="col col1"></div>
  </div>
</div>

<div class="main-text">
  <div class="text-card text-card-events">
    <div class="covid-announce">
      <h2>
        Unfortunately due to the Covid19 lockdown all events are currently
        paused
      </h2>
    </div>
    <br /><br />
    <div class="calendar-icon main-paragraph main-paragraph2">
      <i class="far fa-calendar-check fa-4x"></i>
    </div>

    <p class="main-paragraph main-paragraph2 year">2021</p>
    <div class="grid-container1">
      <div class="grid-item grid-item1">
        <p class="main-paragraph main-paragraph2 indent">
          - Spring Litter Pick <br />
          - Summer Litter Pick <br />
          - Online Gala / Home events and competition <br />
          - Community Gardens Open day <br />
          - Autumn Litter Pick <br />
          - Winter Litter Pick <br />
          - Christmas Lights Switch On <br />
          - Santa in the Park <br />
        </p>
      </div>
    </div>
    <p class="main-paragraph main-paragraph2 year">2022</p>
    <div class="grid-container1">
      <div class="grid-item grid-item1">
        <p class="main-paragraph main-paragraph2 indent">
          - Spring Litter Pick <br />
          - Spring Duck Race <br />
          - Summer Litter Pick <br />
          - Summer Gala <br />
          - Welcome to the Community Gardens - Open day <br />
          - Autumn Litter Pick <br />
          - Winter Litter Pick <br />
          - Christmas Lights Switch On <br />
          - Santa in the Park <br />
        </p>
      </div>
    </div>
  </div>
</div>
