<div><%- include('./partials/header.ejs') %></div>

<div class="container-groups">
  <div class="row"></div>
</div>

<h2 class="simple-heading">
  There are a number of groups and associations within Menstrie
</h2>

<div class="flex-container-groups-wrapper">
  <div class="flex-container-groups">
    <div class="flex-container-groups-img">
      <img src="/images/MCAG.jpg" alt="" />
    </div>
    <div class="flex-container-groups-text">
      <p>MCAG & Dumyat Centre & URL</p>
      <br />
      <a class="link" href="https://menstrieorg.wordpress.com"
        >https://menstrieorg.wordpress.com</a
      ><br /><br />
      <a class="email" href="mailto:dumyatcentremenstrie@gmail.com"
        >dumyatcentremenstrie@gmail.com</a
      >
    </div>
    <div class="flex-container-groups-img">
      <img class="mcrg" src="/images/MCRG.png" alt="" />
    </div>
    <div class="flex-container-groups-text">
      <p>MCRG - Resilience Group</p>
      <br />
      <a class="link" href="https://sites.google.com/view/mcrg"
        >https://sites.google.com/view/mcrg</a
      ><br /><br />
      <a class="email" href="mailto:menstriecommunityresilience@gmail.com;"
        >menstriecommunityresilience@gmail.com</a
      >
    </div>
  </div>
  <div class="flex-container-groups">
    <div class="flex-container-groups-img">
      <img
        style="
          width: 15rem;
          position: relative;
          top: 50%;
          -ms-transform: translateY(-50);
          transform: translateY(-50%);
        "
        src="/images/MBC.png"
        alt=""
      />
    </div>
    <div class="flex-container-groups-text">
      <p>Menstrie Bowling Club</p>
      <br />
      <a class="link" href="https://menstriebowlingclub.co.uk/"
        >https://menstrieorg.wordpress.com</a
      ><br /><br />
      <a class="email" href="mailto:dumyatcentremenstrie@gmail.com"
        >menstriebowlingclub@gmail.com</a
      >
    </div>
    <div class="flex-container-groups-img">
      <img class="mmra" src="/images/MMRA.png" alt="" />
    </div>
    <div class="flex-container-groups-text">
      <p>MCRG - Resilience Group</p>
      <br />
      <a class="link" href="https://sites.google.com/view/mcrg"
        >https://sites.google.com/view/mcrg</a
      ><br /><br />
      <a class="email" href="mailto:menstriecommunityresilience@gmail.com;"
        >menstriecommunityresilience@gmail.com</a
      >
    </div>
  </div>
</div>
