<div><%- include('./partials/header.ejs') %></div>

<div class="container">
  <div class="row">
    <div class="col col1">
      <h1>Welcome To Menstrie</h1>
      <br />
      <h2>Community Council's Website</h2>
    </div>
    <!-- <div class="col col2"></div> -->
  </div>
</div>
<div class="text-card">
  <div class="main-text">
    <p class="main-paragraph">
      Menstrie is a small village of around three thousand people in
      Clackmannanshire below Dumyat Hill along the Hillfoots. <br />
      The Community Council is a group of residents who meet regularly to
      interface with the Community, Clackmannanshire Council representatives and
      other stake holders.
    </p>
    <p class="main-paragraph main-paragraph2">
      You can contact us by email - <br />
      <a class="email" href="mailto:menstriecommunity@gmail.com"
        >menstriecommunity@gmail.com</a
      >
      <br />
      Or via our Facebook groups: <br />
      Community Notices -
      <a href="https://www.facebook.com/groups/1427283177371988/"
        ><i class="fab fa-facebook fa-lg"></i
      ></a>
      <br />
      Community Legends and Community -
      <a href="https://en-gb.facebook.com/groups/715385905236355/"
        ><i class="fab fa-facebook fa-lg"></i
      ></a>
    </p>
    <p class="main-paragraph main-paragraph2">
      We run the following and are always on <br />
      the look out for new councillors and volunteers:
    </p>
    <div class="grid-container1">
      <div class="grid-item grid-item1">
        <p class="main-paragraph main-paragraph2 indent">
          - Yearly Summer Gala event on the Dumyat Park <br />
          - Duck Race on Menstrie Burn <br />
          - Resilience Group <br />
          - Community Woodlands and Jubilee Path <br />
          - Castle Museum Keyholder and Maintenance Team <br />
          - Christmas Lights <br />
          - Community Garden and Stan's Gardening Club <br />
          - Community Food Larder <br />
          - Quarterly Litter Picks <br />
          - Publish Local Magazine - Menstrie Matters <br />
          - Administer EDF Burntfoot Microgrant Funding <br />
          - Stakeholders on Clacks Joint Community Council Form, <br />
          EDF Burnfoot Funding Panel and CSET Funding Panel <br />
        </p>
      </div>
      <div class="grid-item grid-item2"></div>
    </div>
  </div>
</div>
