<div><%- include('./partials/header.ejs') %></div>

<div class="container">
  <div class="row">
    <div class="col col1">
      <h1>Menstrie Community Council</h1>
      <br />
      <!-- <h2>Community Council's Website</h2> -->
    </div>
    <!-- <div class="col col2"></div> -->
  </div>
</div>
<div class="text-card">
  <div class="main-text">
    <p class="main-paragraph">
      Menstrie is a small village of around three thousand people in
      Clackmannanshire below Dumyat Hill along the Hillfoots. <br />
      The Community Council is a group of residents who meet regularly to
      interface with the Community, Clackmannanshire Council representatives and
      other stake holders and are always on the look out for new councillors and
      volunteers. <br />
      <br />
      You can contact us by email -
      <a class="email" href="mailto:menstriecommunity@gmail.com"
        >menstriecommunity@gmail.com</a
      >
      <br />
      Or via our Facebook groups: Community Notices -
      <a href="https://www.facebook.com/groups/1427283177371988/"
        ><i class="fab fa-facebook fa-lg"></i
      ></a>
      <br /><br />
      We run the following:
    </p>
    <div class="grid-container1">
      <div class="grid-item grid-item1">
        <ul class="main-paragraph main-paragraph2 indent">
          <li>Summer Gala</li>
        </ul>
        <ul class="main-paragraph main-paragraph2 indent">
          <li>Duck Race</li>
        </ul>
        <ul class="main-paragraph main-paragraph2 indent">
          <li>Resilience Group</li>
        </ul>
        <ul class="main-paragraph main-paragraph2 indent">
          <li>Maintain Jubilee Path</li>
        </ul>
        <ul class="main-paragraph main-paragraph2 indent">
          <li>Castle Museum Keyholder</li>
        </ul>
        <ul class="main-paragraph main-paragraph2 indent">
          <li>Christmas Lights</li>
        </ul>
        <ul class="main-paragraph main-paragraph2 indent">
          <li>Community Garden</li>
        </ul>
        <ul class="main-paragraph main-paragraph2 indent">
          <li>Stan's Gardening Club</li>
        </ul>
        <ul class="main-paragraph main-paragraph2 indent">
          <li>Community Food Larder</li>
        </ul>
        <ul class="main-paragraph main-paragraph2 indent">
          <li>Litter Picks</li>
        </ul>
        <ul class="main-paragraph main-paragraph2 indent">
          <li>Publish Menstrie Matters</li>
        </ul>
        <ul class="main-paragraph main-paragraph2 indent">
          <li>Administer Windfarm Microgrants</li>
        </ul>
      </div>
      <div class="grid-item grid-item2"></div>
    </div>
  </div>
</div>
