<div><%- include('./partials/header.ejs') %></div>

<div class="container-contacts">
  <div class="row"></div>
</div>

<div class="text-card">
  <div class="main-text">
    <p class="main-paragraph">
      Collected here are useful contacts for Menstrie - Please see our Facebook
      pages for helpful advice or for your every day to day village chit chat
    </p>
  </div>
  <!-- _____________________________________________________________________ -->
  <div class="grid-container-contacts">
    <div class="grid-cell-text">
      <a class="link" href="https://scotmid.coop/store/menstrie/">
        <div class="grid-cell-logo">
          <img src="\images\scotmidLogo.png" alt="Scotmid logo" />
        </div>
      </a>
    </div>
  </div>
  <!-- _____________________________________________________________________ -->
  <div class="grid-container-contacts">
    <div class="grid-cell-text">
      <a
        class="link"
        href="https://www.nhsinform.scot/scotlands-service-directory/pharmacies/5221%201cls1116"
      >
        <div class="grid-cell-logo">
          <img src="\images\pharmacy.png" alt="Scotmid logo" />
        </div>
      </a>
    </div>
  </div>
  <!-- ______________________________________________________________________ -->
  <div class="grid-container-contacts">
    <div class="grid-cell-text">
      <a class="link" href="https://www.facebook.com/theforgemenstrie/">
        <div class="grid-cell-logo">
          <img src="\images\cafe.png" alt="Cafe logo" />
        </div>
      </a>
    </div>
  </div>
  <!-- ______________________________________________________________________ -->
  <div class="grid-container-contacts">
    <div class="grid-cell-text">
      <a class="link" href="https://sammysindiangrill.co.uk/">
        <div class="grid-cell-logo">
          <img src="\images\indianrestaurant.png" alt="Cafe logo" />
        </div>
      </a>
    </div>
  </div>
  <!-- ______________________________________________________________________ -->
  <div class="grid-container-contacts">
    <div class="grid-cell-text">
      <a class="link" href="https://flamesmenstrie.com/">
        <div class="grid-cell-logo">
          <img src="\images\flamestakeaway.png" alt="Flames takeaway logo" />
        </div>
      </a>
    </div>
  </div>
  <!-- ______________________________________________________________________ -->
  <div class="grid-container-contacts">
    <div class="grid-cell-text">
      <a
        class="link"
        href=" https://menstrieorg.wordpress.com/book-the-centre/"
      >
        <div class="grid-cell-logo">
          <img src="\images\MCAG - Copy.jpg" alt="Flames takeaway logo" />
        </div>
      </a>
    </div>
  </div>
  <!-- ______________________________________________________________________ -->
  <div class="grid-container-contacts">
    <div class="grid-cell-text">
      <a class="link" href=" https://www.clacks.gov.uk/">
        <div class="grid-cell-logo">
          <img
            src="\images\clackmannancouncil.png"
            alt="Flames takeaway logo"
          />
        </div>
      </a>
    </div>
  </div>
  <!-- ______________________________________________________________________ -->
  <div class="grid-container-contacts">
    <div class="grid-cell-text">
      <a
        class="link"
        href=" https://www.clacks.gov.uk/environment/wastecollection/"
      >
        <div class="grid-cell-logo">
          <img src="\images\wastecollection.png" alt="Flames takeaway logo" />
        </div>
      </a>
    </div>
  </div>
  <!-- ______________________________________________________________________ -->
  <div class="grid-container-contacts">
    <div class="grid-cell-text">
      <a class="link" href=" https://www.clacks.gov.uk/council/reportit/">
        <div class="grid-cell-logo">
          <img src="\images\reportit.png" alt="Flames takeaway logo" />
        </div>
      </a>
    </div>
  </div>
  <!-- ______________________________________________________________________ -->
  <div class="grid-container-contacts">
    <div class="grid-cell-text">
      <a
        class="link"
        href=" https://www.scotland.police.uk/your-community/forth-valley/clackmannanshire/"
      >
        <div class="grid-cell-logo">
          <img src="\images\policescotland.png" alt="Flames takeaway logo" />
        </div>
      </a>
    </div>
  </div>
  <!-- ______________________________________________________________________ -->
  <div class="grid-container-contacts">
    <div class="grid-cell-text">
      <a class="link" href="  http://www.menstrieparishchurch.co.uk">
        <div class="grid-cell-logo">
          <img src="\images\church.png" alt="Flames takeaway logo" />
        </div>
      </a>
    </div>
  </div>
  <!-- ______________________________________________________________________ -->
  <div class="grid-container-contacts">
    <div class="grid-cell-text">
      <a class="link" href="https://www.facebook.com/menstrieufchurch/">
        <div class="grid-cell-logo">
          <img src="\images\freechurch.png" alt="Flames takeaway logo" />
        </div>
      </a>
    </div>
  </div>
  <!-- ______________________________________________________________________ -->
  <div class="grid-container-contacts">
    <div class="grid-cell-text">
      <a class="link" href=" https://www.yell.com/s/farmers-menstrie.html">
        <div class="grid-cell-logo">
          <img src="\images\farmers.png" alt="Flames takeaway logo" />
        </div>
      </a>
    </div>
  </div>
  <!-- ______________________________________________________________________ -->
</div>
