<div><%- include('./partials/header.ejs') %></div>

<div class="container-official">
  <div class="row"></div>
</div>

<div class="text-card">
  <div class="main-text">
    <p class="main-paragraph">
      Menstrie Community Council is an official Community Council that is
      governed by Clackmannanshire Council's guiding principles. <br /><br />
      Menstrie is allowed X Community Councillors who are voted on every four
      years. Due to Covid19 elections have been put on hold until early 2022,
      Clacks has enabled MCC to undertake co-options to maintain council
      activity. <br /><br />
      Council Meetings are currently taking place virtually every 2nd Tuesday of
      the month. Usually they take place in the Dumyat Centre at 7pm and are
      open to any member of the community. Voting on council decisions can only
      take place by councillors and co-options. <br /><br />
      The current team are:
    </p>
    <div class="text-flexbox">
      <div class="flex-heading">
        Chair <br />
        Secretary <br />
        Treasurer <br />
      </div>
      <div class="flex-text">
        Dave Sharp <br />
        Sarah Ridley <br />
        Oonah Gormley <br />
        <br />
      </div>
    </div>
    <div class="text-flexbox">
      <div class="flex-heading">Voted in at last election</div>
      <div class="flex-text">
        Dave Sharp <br />
        Evelyn Stalker <br />
        Ubbi Rehman
      </div>
    </div>
        </div>
    <div class="text-flexbox">
      <div class="flex-heading">Recently Co-oped</div>
      <div class="flex-text">
        Sarah Ridley <br />
        Irene Rosewier <br />
        James Bull <br>
        Leah Brown <br>
        Oonah Gormley <br>
        Gary Rich
      </div>
    </div>
    <div class="text-flexbox">
      <div class="flex-heading">Stake holders</div>
      <div class="flex-text">
        Menstrie Community Action Group <br />
        Menstrie Community Resilience Group <br />
        Menstrie Community Food Larder <br>
        Stans Gardening Club <br>
        Primary School Head &nbsp &nbsp <a class='link' href="https://www.clacks.gov.uk/learning/schools/menstrieprimaryschool/">link</a> <br>
        Community Police Officers &nbsp &nbsp <a class='link' href="https://www.scotland.police.uk/your-community/forth-valley/clackmannanshire/">link</a> <br>
      </div>
    </div><br>
        <div class="text-flexbox">
      <div class="flex-heading">
        Final minutes from <br> March 2021 <br><br>


      </div>
      <div class="flex-text">
                <a class='link' href="/pdfs/MCC Minutes - Mar 2021 (1).pdf">Link</a>

      </div>


    </div>
    <div class="text-flexbox">
      <div class="flex-heading">
        Final minutes from <br> February 2021 <br><br>


      </div>
      <div class="flex-text">
                <a class='link' href="/pdfs/MCC Minutes - Feb 2021 (1).pdf">Link</a>
      </div>
    </div>

    <div class="text-flexbox">
      <div class="flex-heading">
        Final minutes from <br> December 2022 <br><br>
      </div>
      <div class="flex-text">
                <a class='link' href="/pdfs/MCC Minutes - Dec 2020 (2).pdf">Link</a>
      </div>
    </div>
        <div class="text-flexbox">
        Older minutes are available on request.
    </div>


  </div>
</div>
