<div><%- include('./partials/header.ejs') %></div>

<div class="flex-container">
  <div class="flex-inner">
    <div class="old-new-img-flex">
      <div class="old-new-heading">
        <h2>Active</h2>
      </div>

      <img src="/images/Sunset Menstrie J Bull-min.jpg" alt="" />
    </div>
  </div>
  <div class="old-new-grid-text-flex">
    Menstrie is a hub of activity for cyclists and walkers alike - We are on the
    SUS Trans national network and have miles of walking and cycling routes into
    the Ochil Hills with parking at the Dumyat Centre <br /><br />
    <a
      class="link"
      href="https://www.sustrans.org.uk/find-a-route-on-the-national-cycle-network/national-cycle-network-routes-in-the-inner-forth-area"
      >Menstrie Cycle Network</a
    >
    <br /><br />
    <a
      class="link"
      href=" https://getoutside.ordnancesurvey.co.uk/local/menstrie-clackmannanshire"
      >Menstrie Walking Page</a
    >
    <br />
    <br />
    <a class="link" href=" https://www.ochils.org.uk/hillfoots-way"
      >The Hillfoots Diamond Jubilee Way</a
    >
  </div>
</div>
<!-- _____________________________________________________________________ -->
<div class="flex-container">
  <div class="flex-inner">
    <div class="old-new-img-flex">
      <div class="old-new-heading">
        <h2>Old Photos</h2>
      </div>

      <img src="/images/oldBridgeMenstrie.png" alt="" />
    </div>
  </div>
  <div class="old-new-grid-text-flex">
    Often our residents post old or memorable photographic events within
    Menstrie to our Facebook pages for the residents to enjoy. <br />
    We have collected these picture into albums within Flickr for you to enjoy,
    also we maybe producing a Menstrie booklet to show case them <br /><br />

    <div class="inner-flex-oldandnew">
      <!-- <div class="inner-flex-oldandnew-text"> -->
      <a class="link" href="//www.flickr.com/gp/192365541@N05/K1515G">Castle</a>
      <!-- </div> -->
      <!-- <div class="inner-flex-oldandnew-text"> -->
      <a class="link" href=" https://www.flickr.com/gp/192365541@N05/980U66"
        >Old Bridge</a
      >
      <!-- </div> -->

      <!-- <div class="inner-flex-oldandnew-text"> -->
      <a class="link" href="  https://flic.kr/s/aHsmUGh2AF">Main Street</a>
      <!-- </div> -->

      <!-- <div class="inner-flex-oldandnew-text"> -->
      <a class="link" href="  https://www.flickr.com/gp/192365541@N05/692Y79"
        >Mills and Burns</a
      >
      <!-- </div> -->

      <!-- <div class="inner-flex-oldandnew-text"> -->
      <a class="link" href="  https://www.flickr.com/gp/192365541@N05/5K3jB0"
        >Railway</a
      >
      <!-- </div> -->

      <!-- <div class="inner-flex-oldandnew-text"> -->
      <a class="link" href="  https://www.flickr.com/gp/192365541@N05/1e8ANs"
        >Aerial Views</a
      >
      <!-- </div> -->
    </div>
  </div>
</div>
<!-- ________________________________________________________________________ -->
<div class="flex-container">
  <div class="flex-inner">
    <div class="old-new-img-flex">
      <div class="old-new-heading">
        <h2>History</h2>
      </div>

      <img src="\images\Menstrie Castle With Cherry.jpeg" alt="" />
    </div>
  </div>
  <div class="old-new-grid-text-flex">
    Menstrie Castle has a small museum that is open to the public on request,
    the community council are key holders <br /><br />
    <br /><br />
    <a
      class="link"
      href=" https://getoutside.ordnancesurvey.co.uk/local/menstrie-clackmannanshire"
      >Menstrie Castle Wikipedia</a
    >
    <br />
    <br />
  </div>
</div>
<!-- ________________________________________________________________________ -->
<div class="flex-container flex-bottom">
  <div class="flex-inner">
    <div class="old-new-img-flex">
      <div class="old-new-heading">
        <h2>Geography</h2>
      </div>

      <img src="/images/menstrieFromHill.jpg" alt="" />
    </div>
  </div>
  <div class="old-new-grid-text-flex">
    <br /><br />
    <a class="link" href=" https://en.wikipedia.org/wiki/Menstrie"
      >Menstrie Wikipedia</a
    ><br /><br />

    <a class="link" href="\pdfs\MenstrieGeography.pdf">Menstrie Geography</a>

    <br />
    <br />
    <a class="link" href=" https://en.wikipedia.org/wiki/Ochil_Hills"
      >Ochils Wikipedia</a
    >
  </div>
</div>
